@tailwind base;
@tailwind components;
@tailwind utilities;

/* فونت‌های فارسی و عربی */
@font-face {
  font-family: 'Vazir';
  src: url('~vazir-font/dist/Vazir-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Tajawal';
  src: url('~tajawal-font/dist/Tajawal-Regular.woff2') format('woff2');
}